#update-participation-wrapper {
  text-align: center;
}

#update-participation-dialog-buttons-div {
  display: flex;
  justify-content: center;
}

#update-participation-dialog-buttons-div button {
  padding-left: 15%;
  padding-right: 15%;
}

mat-form-field {
  width: 90%;
}
