<div class="mat-elevation-z8" id="main-div">

  <div id="filter-fields-and-add-button">
    <mat-form-field class="filter-input-field">
      <label>
        <input (keyup)="applyNameFilter($event)" matInput placeholder="Name Filter">
      </label>
    </mat-form-field>

    <mat-form-field class="filter-input-field">
      <label>
        <input (keyup)="applyDateFilter($event)" matInput placeholder="Date Filter">
      </label>
    </mat-form-field>

    <mat-form-field class="filter-input-field">
      <label>
        <input (keyup)="applyLocationFilter($event)" matInput placeholder="Location Filter">
      </label>
    </mat-form-field>

    <mat-form-field class="filter-input-field">
      <label>
        <input (keyup)="applyDescriptionFilter($event)" matInput placeholder="Description Filter">
      </label>
    </mat-form-field>

    <ng-container>
      <button (click)="addCompetition()" id="add-button" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>
  </div>

  <table [dataSource]="dataSource" mat-table matSort>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let competition" mat-cell> {{competition.name}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
      <td *matCellDef="let competition"
          mat-cell> {{competition.date.toLocaleDateString("en-GB", dateFormatOptions)}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Location</th>
      <td *matCellDef="let competition" mat-cell> {{competition.location}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
      <td *matCellDef="let competition" mat-cell> {{competition.description}} </td>
    </ng-container>

    <ng-container matColumnDef="deleteButton">
      <th *matHeaderCellDef class="button-column" mat-header-cell></th>
      <td *matCellDef="let competition" mat-cell>
        <button (click)="deleteCompetition(competition)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="updateButton">
      <th *matHeaderCellDef class="button-column" mat-header-cell></th>
      <td *matCellDef="let competition" mat-cell>
        <button (click)="updateCompetition(competition)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

</div>
